
# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_ADMIN=


# Email Verification
NEXT_PUBLIC_RESEND_API_KEY=
NEXT_PUBLIC_RESEND_DOMAIN=

# App
NEXT_PUBLIC_APP_NAME="AICTE Activity Points"
NEXT_PUBLIC_APP_ICON='/rvce-logo.png'




