NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_ADMIN=

NEXT_PUBLIC_RESEND_API_KEY=
NEXT_PUBLIC_RESEND_DOMAIN=

NEXT_PUBLIC_APP_NAME="Vercel AI SDK Template"
NEXT_PUBLIC_APP_ICON='/next.svg'

NEXT_PUBLIC_GEMINI_API_KEY=
NEXT_PUBLIC_GOOGLE_API_KEY=

NEXT_PUBLIC_KINDWISE_API_KEY=

NEXT_PUBLIC_OPENAI_API_KEY=

NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_WS_URL=